*{
    margin: 0;
    padding: 0;
    margin-bottom: 0.5rem;
}
@media screen and (min-width:1px) and (max-width:415px) {
    *{
        font-family: sans-serif;
    }
    body{
        text-align: center;
        background-color: cadetblue;
    }
    /*SA MA UIT LA UN MODEL DE FACUT 3 LINII LA HEADER PE TELEFON IN LOC SA
    FIE SCRIS PUR SI SIMPLU BUTONUL SI UNDE DUCE*/
    #capul{
        display: flex;
        justify-content: center;
        background-color: aliceblue;
        position: fixed;
        z-index: 1;
    }
    #btncap{
        width: 5rem;
        height: 1rem;
        margin-top: 1rem;
        background-color: cadetblue;
        color: aliceblue;
        border-color: cadetblue;
    }
    #btncapcontact{
        width: 5rem;
        height: 1rem;
        margin-top: 1rem;
        background-color: cadetblue;
        color: aliceblue;
        border-color: cadetblue;
    }
    /*PANA AICI TINE ALA*/
    #h1titlu{
        font-size: 1.5rem;
        text-align: center;
        color: aliceblue;
    }
    #imgdetalii{
        width: 70%;
    }
    #h2titlucucevaju{
        color: aliceblue;
        font-size: 1rem;
    }
    #h3detalii{
        font-size: 0.8rem;
        color: cadetblue;
    }
    #h3detalii2{
        font-size: 0.8rem;
        font-style: italic;
        color: aliceblue;
    }
    #divdetalii{
        background-color: aliceblue;
    }
    #linie{
        height: 0.5rem;
        border: 0;
        background-color: aliceblue;
    }
    #subsol{
        background-color: aliceblue;
        margin-bottom: -1rem;
    }
    #imgcontact{
        width: 5%;
    }
    #h2contact{
        font-size: 1rem;
        color: cadetblue;
    }
    #h3contact{
        font-size: 0.8rem;
        color: cadetblue;
    }
    #btndetalii{
        color: cadetblue;
        background-color: aliceblue;
        border-color: aliceblue;
        border-radius: 1rem;
    }
    #btndetalii:hover{
        background-color: cadetblue;
        color: cadetblue;
        border-color: aliceblue;
    }
}
@media screen and (min-width:415.1px) and (max-width:1280px) {
    *{
        font-family: sans-serif;
    }
    body{
        background-color: cadetblue;
    }
    /*SA MA UIT LA UN MODEL DE FACUT 3 LINII LA HEADER PE TELEFON IN LOC SA
    FIE SCRIS PUR SI SIMPLU BUTONUL SI UNDE DUCE*/
    #capul{
        display: flex;
        justify-content: center;
        background-color: aliceblue;
        position: fixed;
        z-index: 1;
    }
    #btncap{
        width: 5rem;
        height: 1rem;
        margin-top: 1rem;
        background-color: cadetblue;
        color: aliceblue;
        border-color: cadetblue;
    }
    /*PANA AICI TINE ALA*/
    #h1titlu{
        font-size: 2.5rem;
        text-align: center;
        color: aliceblue;
    }
    #imgdetalii{
        width: 70%;
        margin-left: 2rem;
    }
    #h2titlucucevaju{
        color: aliceblue;
        font-size: 2rem;
        margin-top: 1rem;
    }
    #h3detalii{
        font-size: 1.5rem;
        color: cadetblue;
    }
    #h3detalii2{
        font-size: 1.5rem;
        font-style: italic;
        color: aliceblue;
    }
    #divdetalii{
        background-color: aliceblue;
        width: 49%;
        position: relative;
        display: inline-block;
    }
    #divdetalii2{
        position: relative;
        display: inline-block;
        width: 50%;
    }
    #linie{
        height: 0.5rem;
        border: 0;
        background-color: aliceblue;
    }
    #subsol{
        background-color: aliceblue;
        margin-bottom: -1rem;
    }
    #imgcontact{
        width: 5%;
    }
    #h2contact{
        font-size: 2rem;
        color: cadetblue;
    }
    #h3contact{
        font-size: 1.5rem;
        color: cadetblue;
    }
    #btndetalii{
        color: cadetblue;
        background-color: aliceblue;
        border-color: aliceblue;
        border-radius: 1rem;
        font-size: 1.5rem;
    }
    #btndetalii:hover{
        background-color: cadetblue;
        color: cadetblue;
        border-color: aliceblue;
    }
    #buton{
        display: flex;
        justify-content: center;
        text-decoration: none;
    }
}
@media screen and (min-width:1280.1px){
    *{
        font-family: sans-serif;
    }
    body{
        background-color: cadetblue;
    }
    /*SA MA UIT LA UN MODEL DE FACUT 3 LINII LA HEADER PE TELEFON IN LOC SA
    FIE SCRIS PUR SI SIMPLU BUTONUL SI UNDE DUCE*/
    #capul{
        display: flex;
        justify-content: right;
        background-color: aliceblue;
        position: fixed;
        z-index: 1;
        margin-top: -5.5rem;
        width: 100%;

    }
    #btncap{
        height: 3rem;
        width: 5rem;
        font-size: 1rem;
        margin-top: 1rem;
        border-radius: 1rem;
        border: none;
        background-color: aliceblue;
        color: cadetblue;
        font-style: italic;
        margin-right: 0.5rem;
    }
    #btncap:hover{
        color: aliceblue;;
        background-color: cadetblue;
    }
    #btncapcontact{
        height: 3rem;
        width: 5rem;
        font-size: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        border-radius: 1rem;
        border: none;
        background-color: aliceblue;
        color: cadetblue;
        font-style: italic;
    }
    #btncapcontact:hover{
        color: aliceblue;
        background-color: cadetblue;
    }
    /*PANA AICI TINE ALA*/
    #h1titlu{
        font-size: 2.5rem;
        text-align: center;
        color: aliceblue;
        margin-top: 5.5rem;
    }
    #imgdetalii{
        width: 70%;
        margin-left: 2rem;
    }
    #h2titlucucevaju{
        color: aliceblue;
        font-size: 2rem;
        margin-top: 1rem;
    }
    #h3detalii{
        font-size: 1.5rem;
        color: cadetblue;
    }
    #h3detalii2{
        font-size: 1.5rem;
        font-style: italic;
        color: aliceblue;
    }
    #divdetalii{
        background-color: aliceblue;
        width: 49%;
        position: relative;
        display: inline-block;
    }
    #divdetalii2{
        position: relative;
        display: inline-block;
        width: 50%;
    }
    #linie{
        height: 0.5rem;
        border: 0;
        background-color: aliceblue;
    }
    #subsol{
        background-color: aliceblue;
        margin-bottom: -1rem;
    }
    #imgcontact{
        width: 5%;
    }
    #imgcontact:hover{
        width: 4.5%;
        margin-left: 1rem;
    }
    #h2contact{
        font-size: 2rem;
        color: cadetblue;
    }
    #h3contact{
        font-size: 1rem;
        color: cadetblue;
    }
    #btndetalii{
        color: cadetblue;
        background-color: aliceblue;
        border-color: aliceblue;
        border-radius: 1rem;
        font-size: 1.5rem;
    }
    #btndetalii:hover{
        background-color: cadetblue;
        color: cadetblue;
        border-color: aliceblue;
    }
    #buton{
        display: flex;
        justify-content: center;
        text-decoration: none;
    }
    #map{
        margin-left: 27rem;
        margin-top: -35rem;
        height: 37rem;
        width: 77%;
    }
}