*{
    margin: 0;
    padding: 0;
    margin-bottom: 0.5rem;
}
@media screen and (min-width:1px) and (max-width:280px){
    body{
        text-align: center;
        font-family: sans-serif;
        background-color: cadetblue;
    }
    #h1titlu{
        font-size: 1.5rem;
        text-align: center;
        color: aliceblue;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }
    #sectioncatcosta{
        background-color: aliceblue;
    }
    #h2catcosta{
        font-size: 1rem;
        color: cadetblue;
        font-style: italic;
    }
    #formular{
        width: 100%;
        background-color: aliceblue;
        color: cadetblue;
        font-size: 0.8rem;
    }
    #h2formular{
        font-size: 1rem;
        color: cadetblue;
    }
    #caredin{
        position: relative;
        display: inline-block;
    }
    #h2titluplanuri{
        font-size: 1rem;
        color: aliceblue;
        font-style: italic;
    }
    #divpretdetalii{
        background-color: aliceblue;
        color: cadetblue;
    }
    #panda{
        width: 45%;
        height: 45%;
    }
    #leu{
        width: 45%;
        height: 45%;
    }
    #urs{
        width: 45%;
        height: 45%;
    }
    #planul{
        font-size: 1rem;
    }
    #h5pret{
        font-size: 0.8rem;
    }
    #europret{
        width: 3%;
        height: 3%;
        display: inline-block;
        position: relative;
    }
    #pretnumar{
        font-size: 2rem;
        position: relative;
        display: inline-block;
    }
    #divpretdetalii hr{
        background-color: cadetblue;
        height: 0.1rem;
    }
    #h5pretpachet{
        font-size: 0.8rem;
    }
    #h3pret{
        font-size: 1rem;
        position: relative;
        display: inline-block;
    }
    #bifadesign{
        width: 6%;
        height: 6%;
        margin-left: 29%;
    }
    #bifaconsultanta{
        width: 6%;
        height: 6%;
        margin-left: 50%;
    }
    #bifaadaugare{
        width: 6%;
        height: 6%;
        margin-left: 31.5%;
    }
    #bifaformular{
        width: 6%;
        height: 6%;
        margin-left: 33.5%;
    }
    #bifaoptimizare{
        width: 6%;
        height: 6%;
        margin-left: 11.5%;
    }
    #bifalogo{
        width: 6%;
        height: 6%;
        margin-left: 50%;
    }
    #bifagazduire{
        width: 6%;
        height: 6%;
        margin-left: 44.5%;
    }
    #bifadomeniu{
        width: 6%;
        height: 6%;
        margin-left: 43.5%;
    }
    #bifaadresa{
        width: 6%;
        height: 6%;
        margin-left: 44%;
    }
    #bifaconectareretele{
        width: 6%;
        height: 6%;
        margin-left: 18%;
    }
    #bifamaps{
        width: 6%;
        height: 6%;
        margin-left: 47%;
    }
    #bifablog{
        width: 6%;
        height: 6%;
        margin-left: 69%;
    }
    #bifaidentitate{
        width: 6%;
        height: 6%;
        margin-left: 40%;
    }
    #xlogo{
        width: 6%;
        height: 6%;
        margin-left: 50%;
    }
    #xgazduire{
        width: 6%;
        height: 6%;
        margin-left: 45%;
    }
    #xdomeniu{
        width: 6%;
        height: 6%;
        margin-left: 45%;
    }
    #xadrese{
        width: 6%;
        height: 6%;
        margin-left: 45%;
    }
    #xconectareretele{
        width: 6%;
        height: 6%;
        margin-left: 17%;
    }
    #xmaps{
        width: 6%;
        height: 6%;
        margin-left: 46.5%;
    }
    #xblog{
        width: 6%;
        height: 6%;
        margin-left: 70%;
    }
    #xidentitate{
        width: 6%;
        height: 6%;
        margin-left: 37%;
    }
    #h3pretpartenrpg{
        font-size: 1rem;
        position: relative;
        display: inline-block;
        margin-left: 45%;
    }
    #h3pretparterevizii{
        font-size: 1rem;
        position: relative;
        display: inline-block;
        margin-left: 45%;
    }
    #h3pretpartedurata{
        font-size: 1rem;
        position: relative;
        display: inline-block;
        margin-left: 29.5%;
    }
    #h3pretpartedurata3{
        font-size: 1rem;
        position: relative;
        display: inline-block;
        margin-left: 26%;
    }
    #h3pretparteasistenta{
        font-size: 1rem;
        position: relative;
        display: inline-block;
        margin-left: 27%;
    }
    #btnsolicitare{
        width: 30%;
        background-color: cadetblue;
        color: aliceblue;
        border-color: cadetblue;
        border-radius: 1rem;
    }
    #btnsolicitare:hover{
        background-color: aliceblue;
        color: cadetblue;
    }
    #subsol{
        background-color: aliceblue;
        margin-bottom: -1rem;
    }
    #imgcontact{
        width: 5%;
    }
    #h2contact{
        font-size: 1rem;
        color: cadetblue;
    }
    #h3contact{
        font-size: 0.8rem;
        color: cadetblue;
    }
}
@media screen and (min-width:280.1px) and (max-width:415px){
    /*CAND INCEP SA MODIFIC STILUL IMAGINMILOR SCOT ASTA*/
    img{
        width: 20%;
    }
    /*PANA AICI*/
    body{
        text-align: center;
        font-family: sans-serif;
        background-color: cadetblue;
    }
    #h1titlu{
        font-size: 1.5rem;
        text-align: center;
        color: aliceblue;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }
    #sectioncatcosta{
        background-color: aliceblue;
    }
    #h2catcosta{
        font-size: 1rem;
        color: cadetblue;
        font-style: italic;
    }
    #formular{
        width: 100%;
        background-color: aliceblue;
        color: cadetblue;
        font-size: 0.8rem;
    }
    #h2formular{
        font-size: 1rem;
        color: cadetblue;
    }
    #caredin{
        position: relative;
        display: inline-block;
    }
    #h2titluplanuri{
        font-size: 1rem;
        color: aliceblue;
        font-style: italic;
    }
    #divpretdetalii{
        background-color: aliceblue;
        color: cadetblue;
    }
    #panda{
        width: 45%;
        height: 45%;
    }
    #leu{
        width: 45%;
        height: 45%;
    }
    #urs{
        width: 45%;
        height: 45%;
    }
    #planul{
        font-size: 1rem;
    }
    #h5pret{
        font-size: 0.8rem;
    }
    #europret{
        width: 3%;
        height: 3%;
        display: inline-block;
        position: relative;
    }
    #pretnumar{
        font-size: 2rem;
        position: relative;
        display: inline-block;
    }
    #divpretdetalii hr{
        background-color: cadetblue;
        height: 0.1rem;
    }
    #h5pretpachet{
        font-size: 0.8rem;
    }
    #h3pret{
        font-size: 1rem;
        position: relative;
        display: inline-block;
    }
    #bifadesign{
        width: 6%;
        height: 6%;
        margin-left: 44%;
    }
    #bifaconsultanta{
        width: 6%;
        height: 6%;
        margin-left: 59%;
    }
    #bifaadaugare{
        width: 6%;
        height: 6%;
        margin-left: 45%;
    }
    #bifaformular{
        width: 6%;
        height: 6%;
        margin-left: 46%;
    }
    #bifaoptimizare{
        width: 6%;
        height: 6%;
        margin-left: 29%;
    }
    #bifalogo{
        width: 6%;
        height: 6%;
        margin-left: 55%;
    }
    #bifagazduire{
        width: 6%;
        height: 6%;
        margin-left: 50%;
    }
    #bifadomeniu{
        width: 6%;
        height: 6%;
        margin-left: 48%;
    }
    #bifaadresa{
        width: 6%;
        height: 6%;
        margin-left: 49%;
    }
    #bifaconectareretele{
        width: 6%;
        height: 6%;
        margin-left: 30%;
    }
    #bifamaps{
        width: 6%;
        height: 6%;
        margin-left: 52%;
    }
    #bifablog{
        width: 6%;
        height: 6%;
        margin-left: 67%;
    }
    #bifaidentitate{
        width: 6%;
        height: 6%;
        margin-left: 45%;
    }
    #xlogo{
        width: 6%;
        height: 6%;
        margin-left: 55%;
    }
    #xgazduire{
        width: 6%;
        height: 6%;
        margin-left: 51%;
    }
    #xdomeniu{
        width: 6%;
        height: 6%;
        margin-left: 51%;
    }
    #xadrese{
        width: 6%;
        height: 6%;
        margin-left: 50%;
    }
    #xconectareretele{
        width: 6%;
        height: 6%;
        margin-left: 28%;
    }
    #xmaps{
        width: 6%;
        height: 6%;
        margin-left: 51%;
    }
    #xblog{
        width: 6%;
        height: 6%;
        margin-left: 69%;
    }
    #xidentitate{
        width: 6%;
        height: 6%;
        margin-left: 43%;
    }
    #h3pretpartenrpg{
        font-size: 1rem;
        position: relative;
        display: inline-block;
        margin-left: 50%;
    }
    #h3pretparterevizii{
        font-size: 1rem;
        position: relative;
        display: inline-block;
        margin-left: 50%;
    }
    #h3pretpartedurata{
        font-size: 1rem;
        position: relative;
        display: inline-block;
        margin-left: 40%;
    }
    #h3pretpartedurata3{
        font-size: 1rem;
        position: relative;
        display: inline-block;
        margin-left: 37%;
    }
    #h3pretparteasistenta{
        font-size: 1rem;
        position: relative;
        display: inline-block;
        margin-left: 39%;
    }
    #btnsolicitare{
        width: 30%;
        background-color: cadetblue;
        color: aliceblue;
        border-color: cadetblue;
        border-radius: 1rem;
    }
    #btnsolicitare:hover{
        background-color: aliceblue;
        color: cadetblue;
    }
    #subsol{
        background-color: aliceblue;
        margin-bottom: -1rem;
    }
    #imgcontact{
        width: 5%;
    }
    #h2contact{
        font-size: 1rem;
        color: cadetblue;
    }
    #h3contact{
        font-size: 0.8rem;
        color: cadetblue;
    }
}
@media screen and (min-width:415.1px) and (max-width:1280px){
    img{
        width: 20%;
    }
    /*PANA AICI*/
    body{
        text-align: center;
        font-family: sans-serif;
        background-color: cadetblue;
    }
    #h1titlu{
        font-size: 1.5rem;
        text-align: center;
        color: aliceblue;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }
    #sectioncatcosta{
        background-color: aliceblue;
    }
    #h2catcosta{
        font-size: 1rem;
        color: cadetblue;
        font-style: italic;
    }
    #formular{
        width: 100%;
        background-color: aliceblue;
        color: cadetblue;
        font-size: 0.8rem;
    }
    #h2formular{
        font-size: 1rem;
        color: cadetblue;
    }
    #caredin{
        position: relative;
        display: inline-block;
    }
    #h2titluplanuri{
        font-size: 1rem;
        color: aliceblue;
        font-style: italic;
    }
    #divpretdetalii{
        background-color: aliceblue;
        color: cadetblue;
        width: 30%;
        position: relative;
        display: inline-block;
    }
    #panda{
        width: 7rem;
        height: 5rem;
    }
    #leu{
        width: 7rem;
        height: 5rem;
    }
    #urs{
        width: 7rem;
        height: 5rem;
    }
    #leu{
        width: 7rem;
        height: 5rem;
    }
    #urs{
        width: 7rem;
        height: 5rem;
    }
    #planul{
        font-size: 1rem;
    }
    #h5pret{
        font-size: 0.8rem;
    }
    #europret{
        width: 3%;
        height: 3%;
        display: inline-block;
        position: relative;
    }
    #pretnumar{
        font-size: 2rem;
        position: relative;
        display: inline-block;
    }
    #divpretdetalii hr{
        background-color: cadetblue;
        height: 0.1rem;
    }
    #h5pretpachet{
        font-size: 0.8rem;
    }
    #h3pret{
        font-size: 0.8rem;
        position: relative;
        display: inline;
    }
    #bifadesign{
        width: 6%;
        height: 6%;
        margin-left: 35%;
    }
    #bifaconsultanta{
        width: 6%;
        height: 6%;
        margin-left: 59%;
    }
    #bifaadaugare{
        width: 6%;
        height: 6%;
        margin-left: 42%;
    }
    #bifaformular{
        width: 6%;
        height: 6%;
        margin-left: 46%;
    }
    #bifaoptimizare{
        width: 6%;
        height: 6%;
        margin-left: 23%;
    }
    #bifalogo{
        width: 6%;
        height: 6%;
        margin-left: 55%;
    }
    #bifagazduire{
        width: 6%;
        height: 6%;
        margin-left: 50%;
    }
    #bifadomeniu{
        width: 6%;
        height: 6%;
        margin-left: 48%;
    }
    #bifaadresa{
        width: 6%;
        height: 6%;
        margin-left: 49%;
    }
    #bifaconectareretele{
        width: 6%;
        height: 6%;
        margin-left: 26%;
    }
    #bifamaps{
        width: 6%;
        height: 6%;
        margin-left: 52%;
    }
    #bifablog{
        width: 6%;
        height: 6%;
        margin-left: 72%;
    }
    #bifaidentitate{
        width: 6%;
        height: 6%;
        margin-left: 42%;
    }
    #xlogo{
        width: 6%;
        height: 6%;
        margin-left: 55%;
    }
    #xgazduire{
        width: 6%;
        height: 6%;
        margin-left: 51%;
    }
    #xdomeniu{
        width: 6%;
        height: 6%;
        margin-left: 51%;
    }
    #xadrese{
        width: 6%;
        height: 6%;
        margin-left: 50%;
    }
    #xconectareretele{
        width: 6%;
        height: 6%;
        margin-left: 25%;
    }
    #xmaps{
        width: 6%;
        height: 6%;
        margin-left: 51%;
    }
    #xblog{
        width: 6%;
        height: 6%;
        margin-left: 73%;
    }
    #xidentitate{
        width: 6%;
        height: 6%;
        margin-left: 43%;
    }
    #h3pretpartenrpg{
        font-size: 0.8rem;
        position: relative;
        display: inline-block;
        margin-left: 50%;
    }
    #h3pretparterevizii{
        font-size: 0.8rem;
        position: relative;
        display: inline-block;
        margin-left: 50%;
    }
    #h3pretpartedurata{
        font-size: 0.8rem;
        position: relative;
        display: inline-block;
        margin-left: 40%;
    }
    #h3pretpartedurata3{
        font-size: 0.8rem;
        position: relative;
        display: inline-block;
        margin-left: 35%;
    }
    #h3pretparteasistenta{
        font-size: 0.8rem;
        position: relative;
        display: inline-block;
        margin-left: 39%;
    }
    #btnsolicitare{
        width: 30%;
        background-color: cadetblue;
        color: aliceblue;
        border-color: cadetblue;
        border-radius: 1rem;
    }
    #btnsolicitare:hover{
        background-color: aliceblue;
        color: cadetblue;
    }
    #subsol{
        background-color: aliceblue;
        margin-bottom: -1rem;
    }
    #imgcontact{
        width: 5%;
    }
    #h2contact{
        font-size: 1rem;
        color: cadetblue;
    }
    #h3contact{
        font-size: 0.8rem;
        color: cadetblue;
    }
}
@media screen and (min-width:1280.1px){
    body{
        background-color: cadetblue;
        font-family: sans-serif;
    }
    /*HEADER*/
    #capul{
    
        background-color: cadetblue;
        border-radius: 1rem;
        height: 5rem;
        z-index: 1;
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: right;
        margin-top: -10rem;
    }
    #btncap{
        height: 3rem;
        font-size: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        border-radius: 1rem;
        border: none;
        background-color: aliceblue;
        color: cadetblue;
        font-style: italic;
        padding: 0.5rem;
    }
    #btncap:hover{
        color: aliceblue;;
        background-color: cadetblue;
    }
    #btncapcontact{
        height: 3rem;
        font-size: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        border-radius: 1rem;
        border: none;
        background-color: aliceblue;
        color: cadetblue;
        font-style: italic;
        padding: 0.5rem;
    }
    #btncapcontact:hover{
        color: aliceblue;
        background-color: cadetblue;
    }
    /*FINAL STILIZARE HEADER*/
    /*TITLU*/
    #h1titlu{
        color: cadetblue;
        font-size: 4rem;
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 10rem;
        background-color: aliceblue;
    }
    /*FINAL STILIZARE TITLU*/
    /*DIV1*/
    #sectioncatcosta{
        width: 100%;
        background-color: aliceblue;
        margin-top: 1rem;
    }
    #divcatcatcosta{
        position: relative;
        display: inline-block;
    }
    #h2catcosta{
        color: cadetblue;
        font-style: italic;
    }
    /*FINL STILIZARE DIV 1*/
    #h2titluplanuri{
        color: aliceblue;
        margin-top: 1rem;
        font-size: 3rem;
        margin-left: 1rem;
    }
    #linie{
        height: 1rem;
        background-color: aliceblue;
        border: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    /*STILIZARE PLAN*/
    #divpretdetalii{
        background-color: aliceblue;
        position: relative;
        display: inline-block;
        width: 30rem;
        height: auto;
        margin-left: 2rem;
        border-radius: 2rem;
    }
    #pret-detalii{
        display: flex;
        justify-content: center;
    }
    #panda{
        width: 14rem;
        height: 12rem;
        margin-left: 8rem;
    }
    #leu{
        width: 14rem;
        height: 12rem;
        margin-left: 8rem;
    }
    #urs{
        width: 14rem;
        height: 12rem;
        margin-left: 8rem;
    }
    #planul{
        display: flex;
        justify-content: center;
        color: cadetblue;
    }
    #h5pret{
        display: flex;
        justify-content: center;
        color: cadetblue;
        font-size: 1rem;
    }
    #h5pretpachet{
        display: flex;
        justify-content: center;
        color: cadetblue;
        font-size: 1rem;
    }
    #europret{
        width: 2rem;
        height: 2rem;
        margin-left: 4rem;
    }
    #pretnumar{
        font-size: 10rem;
        color: cadetblue;
        display: flex;
        justify-content: center;
        margin-top: -5rem;
    }
    #h3pret{
        position: relative;
        display: inline-block;
        color: cadetblue;
        font-style: italic;
    }
    hr{
        background-color: cadetblue;
        height: 0.3rem;
    }
    #h3pretparte{
        color: cadetblue;
        font-style: italic;
        position: relative;
        display: inline-block;
    }
    #bifadesign{
        position: relative;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-left: 14rem;
    }
    #bifaconsultanta{
        position: relative;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-left: 19rem;
    }
    #bifaadaugare{
        position: relative;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-left: 15.5rem;
    }
    #bifaformular{
        position: relative;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-left: 16rem;
    }
    #bifaoptimizare{
        position: relative;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-left: 11rem;
    }
    #bifalogo{
        position: relative;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-left: 18.5rem;
    }
    #bifagazduire{
        position: relative;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-left: 17.3rem;
    }
    #bifadomeniu{
        position: relative;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-left: 17.2rem;
    }
    #bifaadresa{
        position: relative;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-left: 17rem;
    }
    #bifaconectareretele{
        position: relative;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-left: 11.2rem;
    }
    #bifamaps{
        position: relative;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-left: 17.2rem;
    }
    #bifablog{
        position: relative;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-left: 21.9rem;
    }
    #bifaidentitate{
        position: relative;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-left: 15rem;
    }
    #xlogo{
        position: relative;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-left: 18.5rem;
    }
    #xgazduire{
        position: relative;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-left: 17.3rem;
    }
    #xdomeniu{
        position: relative;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-left: 17.2rem;
    }
    #xadrese{
        position: relative;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-left: 17rem;
    }
    #xconectareretele{
        position: relative;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-left: 11.2rem;
    }
    #xmaps{
        position: relative;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-left: 17.2rem;
    }
    #xblog{
        position: relative;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-left: 21.9rem;
    }
    #xidentitate{
        position: relative;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-left: 15rem;
    }
    #h3pretpartenrpg{
        color: cadetblue;
        font-style: italic;
        position: relative;
        display: inline-block;
        margin-left: 17rem;
    }
    #h3pretparterevizii{
        color: cadetblue;
        font-style: italic;
        position: relative;
        display: inline-block;
        margin-left: 16.4rem;
    }
    #h3pretpartedurata{
        color: cadetblue;
        font-style: italic;
        position: relative;
        display: inline-block;
        margin-left: 14.5rem;
    }
    #h3pretpartedurata3{
        color: cadetblue;
        font-style: italic;
        position: relative;
        display: inline-block;
        margin-left: 14.5rem;
    }
    #h3pretparteasistenta{
        color: cadetblue;
        font-style: italic;
        position: relative;
        display: inline-block;
        margin-left: 14rem;
    }
    #btnsolicitare{
        color: aliceblue;
        background-color: cadetblue;
        font-size: 1.5rem;
        margin-left: 9rem;
        border: none;
        border-radius: 2rem;
    }
    #btnsolicitare:hover{
        color: cadetblue;
        background-color: aliceblue;
    }
    /*FINAL STILIZRE PLAN*/
    /*STILIZARE FORMULAR*/
    #formular{
        width: 100%;
        background-color: aliceblue;
        color: cadetblue;
        width: 40rem;
        padding: 0.5rem;
        line-height: 2rem;
        margin-bottom: 2rem;
    }
    #caredin{
        position: relative;
        display: inline-block;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    #casuta{
        width: 1.5rem;
        height: 1.5rem;
        top: -10rem;
    }
    #caredin h5{
        margin-bottom: -0.5rem;
    }
    #caredin{
        margin-top: -2rem;
    }
    /*STILIZARE SUBSOL*/ 
    #subsol{
        margin-top: 5rem;
        background-color: aliceblue;
        width: 100%;
        border-radius: 2rem;
        height: 30rem;
    }
    #h2contact{
        color: cadetblue;
        font-style: italic;
        font-size: 2rem;
        margin-left: 1rem;
    }
    #h3contact{
        color: cadetblue;
        position: relative;
        display: inline-block;
    }
    #imgcontact{
        width: 5rem;
        height: 5rem;
        margin-left: 1rem;
        position: relative;
        display: inline-block;
    }
}